.card {
    background: #222;
    border: 2px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.btn {
    border: 3px solid #dd2476;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-text-fill-color: #dd2476 !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-text-fill-color: #000 !important;
    border: 3px solid #000 !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}
a{
    
    text-decoration: none;
}
.table td, .table th {
    min-width: 100px;
}
body {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
  }